{% extends "base.html" %}
{% load static %}
{% block title %}login{% endblock %}

{% block css_style %}
    <style>
        body{
            background-color: #F6F6F6;
        }
        a:hover{
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">

        <div class="page-header">
            <a class="navbar-brand" href="{% url "index" %}"><img src="{% static "user/images/brand.png" %}" alt="brand" width="25px"></a>
            <h1 class="text-primary text-center">欢迎来登录云笔记 <small>请登录</small></h1>
        </div>

        <div class="row">
        <div class="col-md-8">
            <img src="{% static 'user/images/brand.png'%}" alt="brand" width="400px" class="visible-md visible-lg ">
        </div>
        <div class="col-md-4" style="margin: 50px 0;">
            <div class="thumbnail">
            {#  action="/user/login" method="post"#}
            <form  id="login_form">
                {% csrf_token %}
                <h4>用户登录</h4>
              <div class="form-group">
                <label for="username">用户名:</label>
                <input type="text" class="form-control" id="username" placeholder="请输入用户名" name="username">
              </div>
              <div class="form-group">
                <label for="password">密码:</label>
                <input type="password" class="form-control" id="password" placeholder="请输入密码" name="password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="check_remember"> 记住用户名
                </label>
              </div>
              <button type="button" class="btn btn-default" onclick="login()">登录</button>
                {# <button type="button" onclick="test()">序列化</button> #}
                <p class="pull-right" style="margin: 10px 0 8px;">没有账号? <a href="/user/reg">注册</a></p>
            </form>
            </div>
        </div>
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container">
              <div class="row text-center" style="margin-top: 18px">&copy;2021 leesure. All Rights Reserved.</div>
          </div>
        </nav>
    </div>
{% endblock %}

{% block jscript %}
    <script src="{% static "user/js/ajax_request.js" %}"></script>
{% endblock %}
