{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>login</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        body{
            background-color: #F6F6F6;
        }
        a:hover{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1 class="text-primary text-center">欢迎来登录云笔记 <small>请登录</small></h1>
        </div>

        <div class="row">
        <div class="col-md-8">
            <img src="{% static 'user/images/brand.png'%}" alt="brand" width="400px" class="visible-md visible-lg ">
        </div>
        <div class="col-md-4" style="margin: 50px 0;">
            <div class="thumbnail">
            {#  action="/user/login" method="post"#}
            <form  id="login_form">
                {% csrf_token %}
                <h4>用户登录</h4>
              <div class="form-group">
                <label for="username">用户名:</label>
                <input type="text" class="form-control" id="username" placeholder="请输入用户名" name="username">
              </div>
              <div class="form-group">
                <label for="password">密码:</label>
                <input type="password" class="form-control" id="password" placeholder="请输入密码" name="password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="check_remember"> 记住用户名
                </label>
              </div>
              <button type="button" class="btn btn-default" onclick="login()">登录</button>
                {# <button type="button" onclick="test()">序列化</button> #}
                <p class="pull-right" style="margin: 10px 0 8px;">没有账号? <a href="/user/reg">注册</a></p>
            </form>
            </div>
        </div>
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container">
              <div class="row text-center" style="margin-top: 18px">&copy;2021 leesure. All Rights Reserved.</div>
          </div>
        </nav>
    </div>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="{% static "user/js/ajax_request.js" %}"></script>
</body>
</html>