<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regiter-user</title>
</head>
<body>
<form action="/user/reg" method="post">
    <table align="center">
        <caption>用户注册</caption>
        <tr>
            <td><label for="username">用户名:</label></td>
            <td><input type="text" name="username" id=""></td>
        </tr>
        <tr>
            <td><label for="password_1">密码:</label></td>
            <td><input type="password" name="password_1" id=""></td>
        </tr>
        <tr>
            <td><label for="password_2">再次输入密码:</label></td>
            <td><input type="password" name="password_2" id=""></td>
        </tr>
        <tr>
            <td align="center"><input type="submit" value="注册"></td>
            <td align="center"><input type="reset" value="重置"></td>
        </tr>
    </table>
</form>
</body>
</html>