{% extends "base.html" %}

{% block title %}add note{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1 class="text-info text-center">
            {% if flag == "add"%}
                请添加笔记
            {% elif flag == "edit" %}
                请修改笔记
            {% else %}
                请查看笔记
            {% endif %}

           </h1>
    </div>

    <form {% if flag == "add" %}
                    action= "/note/add"
                {% elif flag == "edit"%}
                  action= "/note/edit"
            {% endif %}
      method="post" class="form-horizontal" >
    {% csrf_token %}


    {% if flag == "edit" %}
        <div class="form-group">
            <label for="id" class="col-md-1 control-label">id: </label>
            <div class="col-md-4">
                <input type="text" name="id" value="{{ note_info.id }}" readonly hidden class="form-control" id="id">
            </div>
        </div>
    {% endif %}


    <div class="form-group">
        <label for="title" class="col-md-2 col-sm-4 control-label hidden-xs ">标题:</label>
        <div class="col-md-6 col-sm-4  col-xs-5">
            <input type="text" name="title"
                       {% if flag == "detail" or flag == "edit" %}
                            value="{{ note_info.title }}" disabled="disabled"
                       {% endif %}
               class="form-control" id="title" placeholder="标题">
        </div>
        <div class="col-md-4 col-sm-8  col-xs-7">
            {% if flag != "detail" %}
                <input type="submit" value="保存" class="btn btn-primary" >
            {% endif %}
            <a href="/note/list" class="btn btn-warning">返回列表</a>
        </div>
    </div>

    <div class="form-group" style="margin: 7px">
         <label for="content" class="control-label">笔记信息:</label>
         <textarea name="content" id="" cols="30" rows="10"
                          {% if flag == "detail" %}
                               disabled="disabled"
                          {% endif %}
                class="form-control" id="content">
                {% if flag == "detail" or flag == "edit" %}{{ note_info.content }}{% endif %}
         </textarea>
    </div>
    </form>
</div>
{% endblock %}
