<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
{#{{ request.session }}#}
{#{{ request.COOKIES }}#}
{% if request.session.username %}
    <p>
        <span>欢迎 {{ request.session.username }}</span>
        <a href="/user/logout">退出登录</a>
        <a href="/note/list_view">进入我的笔记</a>
    </p>
{% else %}
    {% if request.COOKIES.username %}
    <p>
        欢迎 {{ request.COOKIES.username }}
        <a href="/user/logout">退出登录</a>
        <a href="">进入我的笔记</a>
    </p>
    {% else %}
    <p>
        <a href="/user/login">登录</a>
        <a href="/user/reg">注册</a>
     </p>
    {% endif %}
{% endif %}
</body>
</html>